services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ticketuser
      POSTGRES_PASSWORD: ticketpass
      POSTGRES_DB: ticketdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ticketuser"]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'
    healthcheck:
      test: kafka-broker-api-versions --bootstrap-server localhost:9092 || exit 1
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 30s

  app-backend:
    build: ./app-backend
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: postgresql://ticketuser:ticketpass@postgres:5432/ticketdb
    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
    restart: on-failure

  transaction-service:
    build: ./transaction-service
    environment:
      DATABASE_URL: postgresql://ticketuser:ticketpass@postgres:5432/ticketdb
      PYTHONUNBUFFERED: 1  # Add this line
    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
    restart: on-failure

  reports-service:
    build: ./reports-service
    environment:
      DATABASE_URL: postgresql://ticketuser:ticketpass@postgres:5432/ticketdb
      PYTHONUNBUFFERED: 1  # Add this line
    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
    restart: on-failure

  notification-service:
    build: ./notification-service
    environment:
      DATABASE_URL: postgresql://ticketuser:ticketpass@postgres:5432/ticketdb
      PYTHONUNBUFFERED: 1  # Add this line
    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
    restart: on-failure
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - app-backend
    restart: on-failure
volumes:
  postgres_data: